name: Check URL from base de données publique des médicaments
on:
  schedule:
    - cron: "00 12 * * *"
  workflow_dispatch:
  push:
    branches:
      - master

jobs:
  check-bdd-medicaments:
    name: Check URL from base de données publique des médicaments
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        list:
          - url: >-
              https://base-donnees-publique.medicaments.gouv.fr/download/file/CIS_bdpm.txt
            word: '61266250'
          - url: >-
              https://base-donnees-publique.medicaments.gouv.fr/download/file/CIS_CIP_bdpm.txt
            word: '60002283'
          - url: >-
              https://base-donnees-publique.medicaments.gouv.fr/download/file/CIS_COMPO_bdpm.txt
            word: '60002283'
          - url: >-
              https://base-donnees-publique.medicaments.gouv.fr/download/file/CIS_HAS_SMR_bdpm.txt
            word: '60054077'
          - url: >-
              https://base-donnees-publique.medicaments.gouv.fr/download/file/CIS_HAS_ASMR_bdpm.txt
            word: '60054077'
          - url: >-
              https://base-donnees-publique.medicaments.gouv.fr/download/file/HAS_LiensPageCT_bdpm.txt
            word: CT-20086
          - url: >-
              https://base-donnees-publique.medicaments.gouv.fr/download/file/CIS_GENER_bdpm.txt
            word: AMOXICILLINE
          - url: >-
              https://base-donnees-publique.medicaments.gouv.fr/download/file/CIS_CPD_bdpm.txt
            word: '60355340'
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Check if user can download file
        run: |
          curl ${{ matrix.list.url }} | grep -q ${{ matrix.list.word }}
          if [[ $? -eq 0 ]]; then
            echo "File is available"
          else
            echo "File is not available"
            exit 1
          fi
